
@import url('https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
    direction: rtl;

    *:not(.fa):not(.material-icons){
        font-family: 'Assistant', sans-serif !important;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: rtl;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    &.md-18 { font-size: 18px; }
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }
    &.md-dark { 
        color: rgba(0, 0, 0, 0.54); 
        &.md-inactive { color: rgba(0, 0, 0, 0.26); }
    }

    &.md-light { 
        color: rgba(255, 255, 255, 1); 
        &.md-inactive { color: rgba(255, 255, 255, 0.3); }
    }
  }
